<div class="ui labeled icon inverted teal menu">
<a class="item" href="/upload">
  <i class="plus icon"></i>
  Upload
</a>
<a class="item" href="/rate">
    <i class="shekel icon"></i>
    Rate
  </a>
<a class="item" href="/profile">
  <i class="user icon"></i>
  Profile
</a>

<div class="item">
<form method="post" action="/search">


<div class="ui action input">
  <input name="search" type="text" placeholder="Search...">
  <button class="ui button"><i class="search icon" ></i></button>
</div>
</form>


</div>
<div class="right menu">
    <a class="item" href="/logout">
      <i class="sign out icon"></i>
      Logout   </a>
</div>
</div>