ADD
<form method="post" action="/photos/create">
    <label for=name>name</label>
    <input type="text" name="name">

    <label for=description></label>
    <input type="text" name="description">
    
    <!-- <label for=file></label>
    <input type="file" name="file"> -->

    <label for=submit></label>
    <input type="submit" name="submit">


</form>