<div class="banner">
  <div class="ui segment teal inverted">
    <h1 class="ui center aligned icon header">
      <i class="upload icon"></i>
      <div class="content">
        <a href="/">Sails photo</a>
        <div class="sub header">Upload your photos or rate them</div>
      </div>
    </h1>
  </div>
  </div>
  <div class="section">
  <div class="ui three column grid">
    <div class="column"></div>
    <div class="column">
      <div class="ui centered padded compact raised segment">
        <a href="/signup">Sign Up </a>
        <a href="/login">Sign In</a>
    </div>
    <div class="column"></div>
  </div>
  </div>