<h1>Create Account!</h1>
<form method="post">
    <div class="inputgroup">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname"> 
    </div>

    <div class="inputgroup">
        <label for="email">email</label>
        <input type="email" name="email"> 
    </div>

    <div class="inputgroup">
        <label for="password">password</label>
        <input type="password" name="password"> 
    </div>

    <div class="inputgroup">
        <label for="passwordconfirm">password confirm</label>
        <input type="passwordconfirm" name="passwordconfirm"> 
    </div>

    <div class="inputgroup">
        <label for="submit"></label>
        <input type="submit" name="submit" placeholder="submit"> 
    </div>

</form>